<div class="featured-products-cus">
    {% for i in (1..3) %}
      {% assign product = settings['featured_product_' | append: i] %}
      {% if product %}
        <div class="product-item">
          <h3>{{ product.title }}</h3>
          <a href="{{ product.url }}">
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" width="100%" height="auto">
          </a>
          <p>Giá: {{ product.price | money }}</p>
        </div>
      {% endif %}
    {% endfor %}
</div>
  
  {% schema %}
  {
    "name": "cusproductf",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "product",
        "id": "featured_product_1",
        "label": "Sản phẩm nổi bật 1"
      },
      {
        "type": "product",
        "id": "featured_product_2",
        "label": "Sản phẩm nổi bật 2"
      },
      {
        "type": "product",
        "id": "featured_product_3",
        "label": "Sản phẩm nổi bật 3"
      }
    ],
    "presets": [
      {
        "name": "cusproductf"
      }
    ],
    "blocks": [
        {
            "type": "pditem",
            "name": "pditem",
            "settings": [ 
                
            ]
        }
    ]
  }
  {% endschema %}
  