{% schema %}
{
    "name": "Product Section",
    "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "TOP SELLING"
        },
        {
            "type": "text",
            "id": "view_all_text",
            "label": "View All Button Text",
            "default": "View All"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "product_image",
                    "label": "Product Image"
                },
                {
                    "type": "text",
                    "id": "product_title",
                    "label": "Product Title",
                    "default": "T-shirt with Tape Details"
                },
                {
                    "type": "text",
                    "id": "product_rating",
                    "label": "Product Rating",
                    "default": "4.5/5"
                },
                {
                    "type": "text",
                    "id": "product_price_new",
                    "label": "New Price",
                    "default": "$120"
                },
                {
                    "type": "text",
                    "id": "product_price_old",
                    "label": "Old Price",
                    "default": "$260"
                },
                {
                    "type": "text",
                    "id": "product_discount",
                    "label": "Discount",
                    "default": "-20%"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Section",
            "category": "Custom Sections"
        }
    ]
}
{% endschema %}
<div class="products">
    <div class="container product">
        <h1 class="product-title">{{ section.settings.section_title }}</h1>
        <div class="product-list main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "pageDots": false }'>
            {% for block in section.blocks %}
                <div class="carousel-cell item">
                    <img src="{{ block.settings.product_image | img_url }}" alt="{{ block.settings.product_title }}" width="295px" height="298px">
                    <p class="title">{{ block.settings.product_title }}</p>
                    <div class="star">
                        <p>{{ block.settings.product_rating }}</p>
                    </div>
                    <div class="price"> 
                        <p class="price-new">{{ block.settings.product_price_new }}</p>
                        <p class="price-old"><s>{{ block.settings.product_price_old }}</s></p>
                        <p class="discount">{{ block.settings.product_discount }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="product-btn btn-sell">{{ section.settings.view_all_text }}</div>
    </div>
</div>

